@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    box-sizing: border-box;
    gap: 10px;
    
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
    align-items: center;
    box-sizing: border-box;
    gap: 15px;
    width: auto;
    background-color: white;
    padding: 1rem;
}


.button {
    background-color:#0A99FE 0.10;
    border: 1px solid transparent;
    border-radius: 10px;
    color: #0A99FE;
    width: 150px;
    height: 40px;
}

.button:focus{
    background-color:  #0A99FE;
    color: #FFFFFF;
}

.button:hover{
    box-shadow: 5px 5px 5px -5px #0A99FE;
}

.container{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 10px;
    margin: 0;
    padding: 30px 0px 20px 0px;
    box-shadow: 0 -9px 5px -5px #86838362;
    
}

span{

    padding-left: 40px;
}

.product-card {
    display: flex;
    flex-direction: column;
    width: 207px;
    height: 275px;
    border-radius: 5px;
    box-sizing: border-box;
    gap: 5px;
}


h2{
    width: 207px;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

ul{
    display: flex;
    flex-wrap: nowrap;
    overflow-y: auto;
}

ul li {
   
    align-items: center;
    text-align: center;
    background-color: hsla(0, 1%, 52%, 0.075);
    color: #868383;
    border: 1px solid transparent;
    
}

ul li:hover{
    border: 2px solid rgba(48, 48, 43, 0.459);
    box-shadow: 15px 15px 10px -5px #868383;
}


ul li p {
    font-size: 16px;
    align-items: center;
    margin-top: 1px;
    margin-bottom: 5px;
}


.image-card{
    width: 100%;
    height: 200px;
    border-radius: 5px 5px 5px 5px;
}